<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/controllerVue.js"></script>
</head>
<body ng-app="appAng" id="page-top" data-spy="scroll">

    <div ng-controller="controllerVue" class="container">
        <h1>En cette année là...</h1>

        <form name="connectForm" ng-submit="submit()">
            <div class="form-group">
                Donnez votre année de naissance:
                <input type="number" ng-model="input.year"  class="form-text" required>
            </div>
            <div class="form-group">
                <input name="button" type="submit" value="Valider" class="btn btn-primary">
                <button type="button" class="btn btn-secondary" ng-click="reset()">Effacer</button>
            </div>
        </form>

        <div class="alert alert-success" role="alert" ng-show="number.found">
            <p><strong>{{number.year}}</strong></p>
            <p>{{number.fact}}</p>
        </div>
        <div class="alert alert-warning" role="alert" ng-show="number.found === false">
            <p><strong>Rien pour l'année {{number.year}} !</strong></p>
        </div>


    </div>

</body>
</html>